<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/admin/adminHome"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
            
                {{!-- .................................Users........................... --}}

                <li class="menu-title">Users</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/users"> <i class="menu-icon ti-user"></i>Users List</a>
                </li>
                {{!-- ..................................Users........................... --}}





                {{!-- .................................Orders........................... --}}

                <li class="menu-title">Orders</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/orders"> <i class="menu-icon ti-book"></i>View Orders</a>
                <li>
                    <a href="/admin/orderList"> <i class="menu-icon ti-timer"></i>View Placed Orders</a>
                </li>
                </li>
                {{!-- .................................Orders........................... --}}




                {{!-- .................................Products........................... --}}


                <li class="menu-title">Products</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/viewProducts"> <i class="menu-icon ti-package"></i>View Products</a>
                </li>
                <li>
                    <a href="/admin/addProduct"> <i class="menu-icon ti-support"></i>Add Products</a>
                </li>
                <li>
                    <a href="/admin/categories"> <i class="menu-icon ti-server"></i>Categories</a>
                </li>

                {{!-- .................................Products........................... --}}


                {{!-- .................................coupons........................... --}}

                <li class="menu-title">Coupons</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/coupons"> <i class="menu-icon ti-gift"></i>Coupons </a>

                {{!-- .................................coupons........................... --}}







            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img src="/user/img/logo.png" style="height: 40px;" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="/admin/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">

                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>



                    {{!-- .................................Profile&login........................... --}}

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/admin/images/logprof.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                           
                            <a class="nav-link" href="/admin/logout"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>


                    {{!-- .................................Profile&login........................... --}}

                </div>
            </div>
    </header>
    <!-- /#header -->

</div>