
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->

	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="login_box_img">
						<img class="img-fluid" src="user/images/signup.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<a class="primary-btn" href="/signUp">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" action="/login" method="post" id="userLogin" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="email" value="" class="form-control" id="email" name="email"
									placeholder="email" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Email'" onkeyup="validateEmail()" autocomplete="off">
									<span id="email-error" class="text-danger font-weight-bold"></span>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" value="" class="form-control" id="password" name="password"
									placeholder="Password" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Password'" onkeyup="validatePassword()" autocomplete="off">
									<span id="pass-error" class="text-danger font-weight-bold"></span>
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn" onclick="return validateForm()">Log In</button>

							</div>
							
							<div class="col-md-12 form-group">
Demo User :
							</div>
														<div class="col-md-12 form-group">
email : demouser@gmail.com

							</div>
							
							<div class="col-md-12 form-group">
password : demouser

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================End Login Box Area =================-->

	<script src="/javascript/user/login-Validation.js"></script>	
	
