<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto ">
                <div class="login_form_inner text-center">
                    <h3>order placed successfully</h3>
                    <a href="/orders" class="btn btn-success">view Orders</a>
                   
                </div>
            </div>
        </div>
    </div>
</section>


>